.pdp-pdp-container {
  max-width: 1600px;
  min-width: 1128px;
  margin: 0 auto;
  position: relative;
  min-height: 700px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fff;
  top: 70px;
}
@media (min-width: 980px) {
  .pdp-pdp-container {
    min-height: 910px;
  }
  .pdp-bogo-container {
    margin: 10px 0 16px;
  }
  .pdp-image-container {
    max-width: 540px;
  }
  .pdp-selected-image {
    width: 540px;
    height: 720px;
  }
  .pdp-description-container {
    min-height: 820px;
    width: 42%;
    float: left;
    padding: 0 0 0 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pdp-add-to-bag,
  .pdp-add-to-wishlist {
    margin-top: 0;
    border-radius: 4px;
  }
  .pdp-add-to-wishlist {
    width: 34%;
    text-align: center;
    padding: 10px 0;
  }
  .pdp-add-to-wishlist-full {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pdp-add-to-bag {
    text-align: center;
    padding: 15px 0;
  }
  .pdp-add-to-bag-with-prior {
    text-align: center;
    padding: 12px 0;
  }
  .pdp-add-to-bag-full,
  .pdp-add-to-bag-full-with-proir {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .pdp-post-sale-price {
    text-align: left;
    margin-top: 20px;
  }
}
.breadcrumbs-container {
  display: block;
  padding: 29px 0 22px;
  font-size: 14px;
}

.breadcrumbs-link {
  color: #282c3f;
  text-transform: capitalize;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}
.breadcrumbs-link:hover {
  border-bottom: 1px solid #d5d6d9;
}
.breadcrumbs-separator {
  color: #282c3f;
  margin: 0 5px;
  padding-top: 5px;
}
.breadcrumbs-bold-link,
.breadcrumbs-bold-separator {
  font-weight: 500;
}
.pdp-details {
  position: relative;
}
.image-grid-container {
  float: left;
  width: 58%;
}
.image-grid-col50 {
  width: 49.5%;
  float: left;
  margin-bottom: 1%;
  position: relative;
}
.image-grid-col100 {
  width: 100%;
  position: relative;
}
.image-grid-col50:nth-child(2n) {
  margin-left: 1%;
}
.image-grid-singleImageContainer .image-grid-col50 {
  margin: 0 auto;
  float: none;
}
.image-grid-imageContainer {
  height: 0;
  padding-top: 133.33333333333331%;
  overflow: hidden;
  position: relative;
  border: 1px solid #f5f5f6;
}
.image-grid-imageContainer:hover {
  cursor: crosshair;
  cursor: -webkit-image-set(
      url("https://constant.myntassets.com/web/assets/img/6d2dbca4-700f-4822-9759-5c92b8280de21536988731120-Zoom-icon-1x.png")
        1x,
      url("https://constant.myntassets.com/web/assets/img/cc4af777-3503-4e6b-8cbf-443b62bbe87e1536988775536-Zoom-icon-2x.png")
        2x
    ),
    crosshair;
}
.image-grid-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  will-change: transform;
}
.image-grid-image:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}
.image-grid-videoContainer .image-grid-image {
  width: 100.5%;
  height: 100.5%;
}
.image-grid-videoContainer .image-grid-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.image-grid-skeletonLoader {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 99.99%;
  height: 99.99%;
  background: #eaeaec -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #eaeaec),
      color-stop(35%, #dad9d9),
      color-stop(70%, #eaeaec),
      to(#eaeaec)
    ) no-repeat;
  background: #eaeaec
    linear-gradient(left, #eaeaec, #dad9d9 35%, #eaeaec 70%, #eaeaec) no-repeat;
  background-size: 800px 100%;
  -webkit-animation: image-grid-loading-skeleton 1.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
  animation: image-grid-loading-skeleton 1.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
}
.image-grid-similarColorsCta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  color: #000;
  right: 20px;
  bottom: 20px;
  border: 1px solid #dadade;
  line-height: 33px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  will-change: contents;
  background: #fff;
}
.image-grid-iconText {
  font-weight: 500;
  color: #ff517b;
  vertical-align: middle;
  visibility: hidden;
  margin-left: 10px;
  font-size: 14px;
}
.image-grid-similarColorsCta:hover {
  border-radius: 42px;
  width: 140px;
  text-align: left;
  padding-left: 13px;
}
.image-grid-similarColorsCta:hover .image-grid-iconText {
  visibility: visible;
  display: inline-block;
  margin-top: 4px;
}
.image-grid-similarColorsIcon {
  vertical-align: middle;
}
.pdp-price-info {
  padding: 0 0 10px;
}
@media (min-width:600px){
  .pdp-price-info {
    margin-right: 0;
  }
}
.pdp-title {
  color: #282c3f;
  padding: 0 20px 0 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}
.pdp-name,
.pdp-title {
  margin-top: 0;
  margin-bottom: 0;
}
.pdp-name {
  color: #535665;
  padding: 5px 20px 14px 0;
  font-size: 20px;
  opacity: 0.8;
  font-weight: 400;
}
.index-overallRatingContainer {
  width: auto;
  border-bottom: 1px solid #d4d5d9;
}
.index-overallRating {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 29px;
  padding: 8px;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #282c3f;
}
.index-overallRating .index-starIcon {
  margin: 0 -8px 0 -2px;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}
.index-overallRating .index-separator {
  margin-left: 8px;
  margin-top: -2px;
  color: #d4d5d9;
  width: 1px;
}
.index-overallRating .index-ratingsCount {
  margin-left: 8px;
  font-weight: 400;
  color: #535766;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.index-overallRating:hover {
  border: 1px solid #535766;
}
.index-detailedRatingContainer .index-starIcon {
  margin: 25px 0 0 10px;
}
.index-detailedRatingContainer .index-separator {
  margin-left: 34px;
  height: 96px;
  border-left: 1.2px solid #eaeaec;
}
.pdp-price {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}
.pdp-mrp,
.pdp-price {
  color: #282c3f;
  margin-right: 12px;
}
.pdp-mrp-verbiage:active,
.pdp-mrp-verbiage:focus,
.pdp-price:active,
.pdp-price:focus {
  outline: none;
}
.pdp-mrp-verbiage:active,
.pdp-mrp-verbiage:focus,
.pdp-price:active + .pdp-mrp-verbiage,
.pdp-price:focus + .pdp-mrp-verbiage {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.pdp-mrp-verbiage {
  min-width: 270px;
  position: absolute;
  border: 1px solid #e3e3e3;
  z-index: 1;
  background: #fff;
  padding: 8px;
  -webkit-box-shadow: 0 0 12px #d3d3d3;
  box-shadow: 0 0 12px #d3d3d3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  -webkit-transform: scale(0.001);
  transform: scale(0.001);
  color: #282c3f;
  font-size: 14px;
}
.pdp-mrp-verbiage div:first-child,
.pdp-mrp-verbiage div:nth-child(5),
.pdp-mrp-verbiage div:nth-child(7) {
  margin: 8px 0;
}
.pdp-mrp-verbiage .pdp-mrp-verbiage-amt {
  float: right;
  font-weight: 500;
  margin-left: 20px;
}
.pdp-mrp-verbiage hr {
  border: 1px solid #e3e3e3;
}
.pdp-mrp-verbiage:before {
  position: absolute;
  top: 1%;
  left: 20%;
  margin: -0.25em;
  width: 0.5em;
  height: 0.5em;
  -webkit-box-shadow: 10px 10px 12px #d3d3d3;
  box-shadow: 10px 10px 12px #d3d3d3;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: linear-gradient(-45deg, #fff 50%, transparent 0);
  content: "";
}
.pdp-mrp {
  height: 22px;
  opacity: 0.8;
  font-size: 20px;
  line-height: 1.2;
}
.pdp-discount-container {
  color: #696e79;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.pdp-discount {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ff905a;
}
.pdp-selling-price {
  position: relative;
}

.pdp-selling-price {
  font-size: 16px;
  margin: 0 0 10px;
}
.pdp-vatInfo {
  color: #03a685;
  font-weight: 500;
  font-size: 14px;
  display: block;
  margin: 5px 10px 0 0;
}
.size-buttons-size-container {
  margin: 10px 0 24px;
}

.size-buttons-size-header {
  margin: 0 0 10px;
  position: relative;
  line-height: 1;
}
.size-buttons-select-size {
  display: inline-block;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}
.size-buttons-size-chart {
  margin-left: 30px;
}
@media (min-width: 980px) {
  .size-buttons-size-chart {
    top: 0;
    right: 0;
  }
}
.size-buttons-show-size-chart {
  outline: 0;
  background-color: transparent;
  border: 0;
  letter-spacing: 0.5px;
  text-align: right;
  padding: 0 0 5px;
  color: #ff3e6c;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 0;
}
.size-buttons-arrow {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: 4px;
  border: solid #ff3e6c;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 2px;
}
.size-buttons-size-buttons {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  font-size: 13px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  position: relative;
}
.size-buttons-size-buttons-error {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: size-buttons-shake 0.82s
    cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: size-buttons-shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (min-width: 600px) {
  .size-buttons-size-buttons {
    margin-bottom: 10px;
  }
}
.size-buttons-tipAndBtnContainer {
  margin: 10px 10px 10px 0;
}
.size-buttons-tipAndBtnContainer:hover .size-buttons-sizeTip {
  visibility: visible;
}

.size-buttons-buttonContainer {
  position: relative;
}

.size-buttons-size-button-default {
  background-color: #fff;
  border: 1px solid #bfc0c6;
  border-radius: 50px;
  padding: 0;
  min-width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: #282c3f;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}
.size-buttons-size-button {
  position: relative;
}
.size-buttons-size-button-selected {
  border: 1px solid #ff3f6c;
  background-color: #fff;
  color: #ff3f6c !important;
}
.size-buttons-size-button-disabled {
  color: #d5d6d9;
  border: 1px solid #d5d6d9;
  cursor: default;
  font-weight: 500;
  outline: none;
  overflow: hidden;
}
.size-buttons-size-button:hover {
  border: 1px solid #ff3f6c;
}
.size-buttons-size-button:focus {
  outline: 0;
}
.size-buttons-size-strike-hide {
  width: 0;
  height: 0;
}
.size-buttons-unified-size {
  margin: 0;
  font-size: 14px;
  padding: 0 8px;
  font-weight: 500;
}
.size-buttons-unified-size + .size-buttons-inventory-left {
  left: 7%;
  bottom: -3px;
}
.size-buttons-inventory-left-hidden {
  visibility: hidden;
}
.size-buttons-inventory-left {
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  width: 100%;
  left: 0;
  width: 90%;
  left: 7%;
  background-color: #ff905a;
  color: #fff;
  border-radius: 2px;
  text-align: center;
}
.size-buttons-sizeTip {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  min-width: 400px;
  visibility: hidden;
  -webkit-transition: visibility 0.1s ease-out;
  transition: visibility 0.1s ease-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.size-buttons-sizeTip .size-buttons-sizeTipMeta {
  position: absolute;
  min-width: 400px;
  left: 0;
  bottom: 10px;
  text-align: left;
  border: 1px solid #e9e9eb;
  background-color: #fff;
  padding: 18px;
  z-index: 29;
  border-radius: 4px;
  font-weight: 400;
  -webkit-box-shadow: 0 2px 16px 0 rgba(40, 44, 63, 0.1);
  box-shadow: 0 2px 16px 0 rgba(40, 44, 63, 0.1);
}
.size-buttons-sizeTip .size-buttons-sizeTipMeta p {
  margin: 0;
}
.size-buttons-bodymeasure {
  color: #535665;
}
.size-buttons-measurementType {
  font-size: 14px;
  color: #282c3f;
}

.size-buttons-measurementName {
  font-size: 14px;
  margin-left: 6px;
  font-weight: 500;
  color: #535665;
}
.size-buttons-sizeChartInfo {
  color: #535665;
  margin-top: 5px;
  font-size: 12px;
}
.pdp-fixed {
  position: fixed;
  bottom: 0;
}

.pdp-action-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 15px;
}
@media (min-width:600px){
  .pdp-fixed {
    position: relative;
  }
  .pdp-action-container {
    padding: 0;
    z-index: 0;
    width: 84%;
  }
}

.pdp-add-to-bag {
  border-radius: 0;
  padding: 12px 15px;
  min-width: 108px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: center;
  width: 100%;
  margin-right: 3%;
}
.pdp-add-to-bag:hover {
  background-color: #ff527b;
}
.pdp-add-to-bag-with-prior {
  padding: 12px 0;
}
.pdp-add-to-bag-full {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pdp-add-to-bag-full-with-prior {
  padding: 12px 0;
}
@media (max-width: 600px) {
  .pdp-action-container {
    font-size: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .pdp-action-container .pdp-goToCart,
  .pdp-action-container button {
    height: 44px;
    float: left;
  }
  .pdp-add-to-bag {
    display: inline-block;
    width: 70%;
  }
  .pdp-add-to-bag .pdp-whiteBag {
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  .pdp-add-to-bag span {
    vertical-align: sub;
  }
  .pdp-add-to-bag.pdp-add-to-bag-full {
    width: 100%;
  }
  .pdp-add-to-bag {
    display: inline-block;
    width: 70%;
  }
  .pdp-add-to-bag .pdp-whiteBag {
    vertical-align: middle;
    margin: 0 8px 0 0;
  }
  .pdp-add-to-bag span {
    vertical-align: sub;
  }
  .pdp-add-to-bag.pdp-add-to-bag-full {
    width: 100%;
  }
}
@media (min-width: 320px) {
  .pdp-add-to-bag {
    min-width: 88px;
  }
}
@media (min-width: 360px) {
  .pdp-add-to-bag {
    min-width: 108px;
  }
}
.pdp-goToCart .pdp-add-to-bag {
  width: 100% !important;
}
.pdp-button {
  border-radius: 3px;
  outline: 0;
  margin-top: 10px;
  padding: 10px 30px;
  font-size: 16px;
  min-height: 22px;
}
.pdp-whiteBag {
  margin-right: 12px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.pdp-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.pdp-flex.pdp-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pdp-flex.pdp-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pdp-flex.pdp-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.pdp-add-to-wishlist {
  border-radius: 0;
  padding: 12px 15px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  border: 1px solid #d4d5d9;
  background-color: #fff;
  letter-spacing: 0.4px;
  color: #282c3f;
}

.pdp-add-to-wishlist:hover {
  border: 1px solid #535766;
}
.pdp-add-to-wishlist-disabled {
  color: #fff;
  border: 1px solid #7e818c;
  background-color: #535766;
}
.pdp-add-to-wishlist-disabled:hover {
  background-color: #535766;
  cursor: default;
}
.pdp-add-to-wishlist-full {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .pdp-action-container {
    font-size: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
  .pdp-action-container .pdp-goToCart,
  .pdp-action-container button {
    height: 44px;
    float: left;
  }
  .pdp-add-to-wishlist {
    display: inline-block;
    width: 30%;
    padding: 14px 15px;
  }
  
}
.pdp-notWishlistedIcon,
.pdp-wishlistedIcon {
  margin: -2px 8px;
}
.pincode-deliveryContainer {
  margin-top: 30px;
}
.pincode-deliveryContainer > h4 {
  color: #282c3f;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.pincode-deliveryContainer > form {
  margin: 16px 0 0;
  padding: 0;
  position: relative;
}
.pincode-deliveryOptionsIcon {
  vertical-align: middle;
  margin-left: 5px;
}
.Address-switcher-container {
  margin-top: 20px;
}
.Address-address-box {
  font-family: inherit;
  position: relative;
  padding: 10px;
  height: 44px;
  font-size: 15px;
  border: 1px solid #bfc0c6;
}
.Address-modal-box {
  width: 100%;
}
.Address-pdp-box {
  width: 300px;
  border-radius: 5px;
}
.Address-address-button {
  background-color: #fff;
  cursor: pointer;
  border: none;
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 13px;
  font-weight: 500;
}

.Address-address-box .Address-tick {
  margin-left: 4px;
  width: 18px;
  vertical-align: middle;
}
.Address-address-box .Address-text {
  display: inline-block;
  max-width: 220px;
  height: 20px;
  overflow: hidden;
}
.Address-address-box .Address-text span {
  vertical-align: middle;
}
.Address-address-container {
  background-color: #fff;
  width: 440px;
  height: 500px;
  overflow: hidden;
  padding: 24px;
  color: #282c3f;
  text-align: left;
}
p.Address-not-serviceable {
  color: #ff6700;
  font-size: 15px;
}
.Address-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0.7;
}
button:focus,
input:focus {
  outline: 0;
}
.Address-address-container header.Address-title {
  font-size: 16px;
  font-weight: 500;
}
.Address-address-container header.Address-spaced {
  margin-top: 22px;
}
.Address-address-container ul.Address-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  overflow: auto;
}
.Address-address-container li.Address-address {
  position: relative;
  margin: 6px 0;
  cursor: pointer;
}
.Address-address-container
  li.Address-address
  + .Address-address-container
  li.Address-address {
  margin: 12px;
}
.Address-address-container h5.Address-address-title {
  font-size: 14px;
  max-width: 300px;
  display: inline-block;
  margin: 0;
}
.Address-address-container span.Address-address-type {
  display: inline-block;
  font-size: 10px;
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 12px;
  vertical-align: middle;
  color: #535766;
  background-color: #eaeaec;
}
.Address-address-container p.Address-address-street {
  margin: 4px 0 0;
  font-size: 12px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.Address-address-container hr {
  background-color: #eaeaec;
  height: 1px;
  border: 0;
  margin: 12px 0;
}
.Address-address-container .Address-tick-icon {
  position: absolute;
  width: 24px;
  bottom: 8px;
  right: 16px;
}
.Address-address-container div.Address-or {
  width: 100%;
  height: 8px;
  font-size: 12px;
  margin: 12px 0;
  border-bottom: 1px solid #eaeaec;
  text-align: center;
}
.Address-address-container div.Address-or span {
  font-size: 12px;
  background-color: #fff;
  padding: 8px;
}
.Address-address-line {
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
}
.Address-pincode-input {
  margin: 12px 0;
}
.Address-pincode-input > input {
  border: none;
  width: 100%;
}
.pincode-button {
  outline: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  border: 0;
  color: #ff3e6c;
  text-transform: capitalize;
}
.pincode-check {
  position: relative;
  left: -60px;
  background-color: transparent;
}
.pincode-heading {
  font-size: 14px;
  margin-bottom: 15px;
  color: #696b79;
  font-weight: 500;
}
.pincode-enterPincode {
  font-size: 13px;
  color: #282c3f;
  margin: 8px 0 0;
}
.pincode-check-another-pincode {
  position: relative;
  left: -60px;
  background-color: transparent;
}
.pincode-serviceabilityForm {
  padding-bottom: 10px;
}
.pincode-code {
  border-radius: 5px;
  border: 1px solid #d4d5d9;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  padding: 10px;
  font-size: 16px;
  min-width: 160px;
  outline: 0;
  width: 250px;
}
.pincode-code:focus {
  outline: none;
}
.pincode-code::-moz-focus-inner {
  border: 0;
}
.pincode-code:disabled {
  background-color: #f4f4f5;
  border: 1px solid #d4d5d9;
}
.pincode-checkServiceAbilityhalfCard {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.pincode-picodeCheckContainer {
  position: fixed;
  padding: 0 20px 20px;
  bottom: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #fff;
}
.pincode-tick {
  margin: 0 5px 0 0;
}
.pincode-serviceability-list {
  margin: 16px 0 0;
  padding: 0;
  line-height: 20px;
}
.pincode-serviceability-list li {
  list-style-type: none;
  font-size: 13px;
  color: #696e79;
  margin-bottom: 10px;
}
.pincode-serviceability-list li h4 {
  font-weight: 500;
  margin: 0;
  color: #282c3f;
  font-size: 16px;
  padding: 0;
  line-height: 1.25;
}
.pincode-serviceability-list li p {
  font-weight: 400;
  margin: 0;
  line-height: 1.43;
  color: #7e808c;
  font-size: 14px;
}
.pincode-tickcontainer {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: #23c5a0;
  position: absolute;
  display: inline-block;
  left: 78px;
  top: 2px;
  margin: 10px 0;
  vertical-align: top;
}
.pincode-tick {
  position: absolute;
  top: 3px;
  left: 6px;
  height: 8px;
  width: 4px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pincode-tickSmallContainer {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #7e808c;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 6px 10px 0 0;
}
.pincode-tickSmall {
  top: 2px;
  left: 3px;
  height: 4px;
  width: 2px;
}
.pincode-serviceabilityContainer {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
.pincode-serviceabilityTitle {
  color: #535766;
  display: inline-block;
  overflow-wrap: break-word;
  vertical-align: middle;
}
.pincode-serviceabilityItem {
  max-width: 500px;
}
.pincode-serviceabilityIcon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  vertical-align: middle;
}
.pincode-serviceabilityViewMore {
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  color: #ff3e6c;
  float: right;
  margin: 10px 16px 0 0;
  font-size: 13px;
}
.pincode-rightArrow {
  width: 16px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  vertical-align: text-top;
}
.pincode-error {
  color: #ff5722;
  font-size: 15px;
}
@media only screen and (min-width: 600px) {
  .pincode-checkServiceAbilityhalfCard {
    position: static;
    background-color: #fff;
    height: auto;
  }
  .pincode-picodeCheckContainer {
    position: static;
    margin: 0;
    padding: 0;
  }
}
.meta-container {
  margin: 20px 0 0;
}
.meta-info {
  color: #282c3f;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: relative;
}
.meta-info .meta-title {
  color: #94989f;
}
.meta-info .meta-desc {
  margin: 5px 0;
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.meta-info .meta-desc a {
  color: #94989f;
  font-size: 12px;
}
.meta-dot {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 4px;
  background-color: #282c3f;
  margin-right: 5px;
  vertical-align: middle;
  margin-bottom: -3px;
}
a.meta-link {
  color: #ff3e6c;
  font-weight: 500;
}
@media (max-width: 600px) {
  .meta-taxInfo {
    display: none;
  }
}
.pdp-offers-container {
  margin: 40px 0 0;
  padding: 0 0 20px;
  border-bottom: 1px solid #d4d5d9;
}
.pdp-offers-container .pdp-offers-offer:last-child {
  margin-bottom: 0;
}
.pdp-offers-container > h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 16px;
  text-transform: uppercase;
  margin-top: 0;
}
.pdp-offers-similarColorsIcon {
  vertical-align: middle;
  margin-left: 5px;
}
.pdp-offers-extraOffer .pdp-offers-offerDesc {
  font-size: 14px;
  padding-top: 1px;
  margin: 0;
}
.pdp-offers-extraOffer .pdp-offers-viewMoreLink {
  display: none;
}
.pdp-offers-extraOffer .pdp-offers-offer {
  margin-bottom: 0;
  padding: 10px 12px;
  cursor: pointer;
  margin-right: 88px;
  border: 1px solid #fff;
}
.pdp-offers-extraOffer .pdp-offers-offer:hover {
  border: 1px solid #d4d5d9;
  border-radius: 4px;
}
.pdp-offers-extraOffer .pdp-offers-offer:hover .pdp-offers-viewMoreLink {
  display: inline-block;
}
.pdp-offers-moreOffersButton {
  color: #526cd0;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
  display: block;
  cursor: pointer;
}
.pdp-offers-offerHeading {
  font-size: 15px;
  color: #282c3f;
  margin-bottom: 5px;
}
.pdp-offers-offerHeading b {
  font-weight: 400;
}
.pdp-offers-offer {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pdp-offers-offer > div {
  width: 100%;
}
.pdp-offers-attachedOffer {
  margin-top: 14px;
}
.pdp-offers-attachedOffer .pdp-offers-offerTitle {
  font-weight: 700;
  margin: 0;
}
.pdp-offers-attachedOffer .pdp-offers-offerDesc {
  margin: 0;
}
.pdp-offers-linkButton {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #ff3f6c;
  margin-top: 4px;
  cursor: pointer;
}
.pdp-offers-attachedOffer .pdp-offers-linkButton {
  margin-top: 10px;
}
.pdp-offers-offerTitle {
  font-size: 16px;
  color: #282c3f;
  margin-bottom: 1px;
}
.pdp-offers-offerTitle b {
  color: #282c3f;
  display: inline-block;
}
.pdp-offers-offerDesc {
  font-size: 16px;
  color: #282c3f;
  padding: 0;
  margin: 8px 0 0;
  list-style: none;
  width: 100%;
}
.pdp-offers-offerDesc b {
  font-weight: 400;
}
.pdp-offers-offerDesc li {
  margin-bottom: 6px;
}
.pdp-offers-offerDesc li .pdp-offers-labelMarkup {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
.pdp-offers-offerImage {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #d8d8d8;
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
}
.pdp-offers-offerImage img {
  max-width: 100%;
  height: 100%;
}
.pdp-offers-offerImage + .pdp-offers-offerColumnText {
  margin-left: 15px;
}
.pdp-offers-offerColumnText {
  display: inline-block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  vertical-align: top;
}
.pdp-offers-price {
  color: #ff905a;
  font-weight: 500;
}
.pdp-offers-boldText {
  font-weight: 500;
}

.pdp-offers-extraOfferDesc {
  margin: 6px 0 4px;
}
div.pdp-offers-bullet {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #282c3f;
  margin-right: 10px;
  margin-bottom: 2px;
  display: inline-block;
  vertical-align: middle;
}
.pdp-offers-offerLikeBestPrice {
  margin-bottom: 16px;
}
