h1,h2,h3,h4,h5,h6,a{
    font-family:  Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
  nav{
    background: #ffffff;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  }
  label.logo{
    color: rgb(26, 25, 25);
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    position: absolute;
    left: 0px;
    font-weight: 500;
  }
  label.logo:hover{
    color: #5eb9ff;
  }
  nav ul{
    float: left;
    /* margin-right: 148px; */
    position: relative;
    margin-top: 3px;
    left: 125px;

  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    font-size: 14px;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    color: #282c3f;
  }
  a.active,a:hover{
    color: #282c3f;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none ;
  }
  @media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 60%;
      height: 100vh;
      background: #000000c9;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    
  #check:checked ~ ul{
    left: 0;
  }
  }
  .search{
      float: right;
      margin-top: 0px;
      line-height: 80px;
      position: relative;
      right: 300px;
      /* width: 320px; */
  }
  .search input{
    display: inline-block;
    /* float: left; */
    font-size: 14px;
    height: 20px;
    /* line-height: 24px; */
    width: 300px;
    color: #696e79;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
  }
.submit{
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
    top: 20px;
}
.iconSearch {
    -webkit-transform: scale(.7);
    transform: scale(.7);
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: -754px 0;
    
}
