<li class="product-base">
    <div class="product-thumbShim"></div>
    <div class="product-ratingsContainer"><span>4.3</span><span
            class="myntraweb-sprite product-starIcon index-productRatingsExcellentIcon sprites-productRatingsExcellentIcon"></span>
        <div class="product-ratingsCount">
            <div class="product-separator">|</div><!-- react-text: 400 -->301
            <!-- /react-text -->
        </div>
    </div><a target="_blank" href="shirts/hm/hm-women-white-oversized-cotton-shirt/15198496/buy"
        style="display: block;">
        <div class="product-imageSliderContainer">
            <div class="product-sliderContainer" style="display: block;">
                <div style="background: rgb(255, 237, 243);">
                    <div style="height: 280px; width: 100%;">
                        <picture class="img-responsive" style="width: 100%; height: 100%; display: block;">
                            <source
                                srcset="
    https://assets.myntassets.com/f_webp,dpr_1.0,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg ,
    https://assets.myntassets.com/f_webp,dpr_1.5,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 1.5x,
    https://assets.myntassets.com/f_webp,dpr_1.8,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 1.8x,
    https://assets.myntassets.com/f_webp,dpr_2.0,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 2.0x,
    https://assets.myntassets.com/f_webp,dpr_2.2,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 2.2x,
    https://assets.myntassets.com/f_webp,dpr_2.4,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 2.4x,
    https://assets.myntassets.com/f_webp,dpr_2.6,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 2.6x,
    https://assets.myntassets.com/f_webp,dpr_2.8,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg 2.8x"
                                type="image/webp"><img
                                src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/15198496/2021/8/19/126b021c-9fe8-4924-9814-9bc06f8600811629368510776Oversizedcottonshirt1.jpg"
                                class="img-responsive" alt="H&amp;M Women White Oversized Cotton Shirt"
                                title="H&amp;M Women White Oversized Cotton Shirt" style="width: 100%; display: block;">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-productMetaInfo">
            <h3 class="product-brand">H&amp;M</h3>
            <h4 class="product-product">Oversized Cotton Shirt</h4>
            <h4 class="product-sizes">
                <!-- react-text: 413 -->Sizes:
                <!-- /react-text --><span class="product-sizeNoInventoryPresent">XS, </span><span
                    class="product-sizeNoInventoryPresent">S, </span><span class="product-sizeNoInventoryPresent">M,
                </span><span class="product-sizeNoInventoryPresent">L</span>
            </h4>
            <div class="product-price"><span><span class="product-discountedPrice">
                        <!-- react-text: 421 -->Rs.
                        <!-- /react-text -->
                        <!-- react-text: 422 -->909
                        <!-- /react-text -->
                    </span><span class="product-strike">
                        <!-- react-text: 424 -->Rs.
                        <!-- /react-text -->
                        <!-- react-text: 425 -->1299
                        <!-- /react-text -->
                    </span></span><span class="product-discountPercentage">(30% OFF)</span></div>
        </div>
    </a>
    <div class="image-grid-similarColorsCta product-similarItemCta"><span
            class="myntraweb-sprite image-grid-similarColorsIcon sprites-similarProductsIcon"></span><span
            class="image-grid-iconText">VIEW SIMILAR</span></div>
    <div class="product-actions "><span class="product-wishlistFlex product-actionsButton product-wishlist "
            style="width: 100%; text-align: center;"><span
                class="myntraweb-sprite product-notWishlistedIcon sprites-notWishlisted"></span>
            <!-- react-text: 433 -->wishlist
            <!-- /react-text -->
        </span></div>
    <div class="product-sizeDisplayDiv">
        <div class="product-sizeDisplayHeader"><span>Select a size</span><span
                class="myntraweb-sprite product-sizeDisplayRemoveMark sprites-remove"></span></div>
        <div class="product-sizeButtonsContaier"><button class="product-sizeButton">XS</button><button
                class="product-sizeButton">S</button><button class="product-sizeButton">M</button><button
                class="product-sizeButton">L</button></div>
    </div>
</li>