/* FOOTER */
h1,
h2,
h3,
h4,
h5,
h6,
a{
    font-family:  Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.footer {
	width: 100%;
	background: #fafbfc;
	display: block;
    position: absolute;
    bottom: 0px;

 }

 .inner-footer {
	 width: 90%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	/* width: 25%; */
	padding: 10px 30px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #696b79;
}

.footer-items h1, h3 {
	color: #282c3f;
    text-transform: uppercase;
    font-size: 12px;
}


ul {
	list-style: none;
	color: #696b79;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

.footer ul a {
	text-decoration: none;
	outline: none;
	color: #696b79;
	transition: 0.3s;
    position: relative;
    left: -40px;
    font-size: 13px;
}

ul a:hover {
	color: #696b79;
}

ul li {
	margin: 5px 0;
	
}

li i {
	margin-right: 20px;
}

.social-icons{
    display: inline-block;
    display: flex;
}
.social-icons a span{
    font-size: 24px;
    margin: 0 15px 0 0;
}
.footer-bottom{
	width: 80%;
}
.footer-bottom a{
	/* padding: 2px; */
	color: #282c3f;
	text-align: left;
	position: relative;
	text-transform: capitalize;
	left: 160px;
	text-decoration: none;
	margin-bottom: 30px!important;
	text-decoration: none;
    color: #696b79;
    font-size: 14px;
    line-height: 10px;
	margin-bottom: 20px;
}
.contact-section{
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}
.contact-section a span{
	color: #526cd0;
	font-weight: 500;
}	
.left{
	text-align: left;
	position: relative;
	color: #696b79;
	left: -50px;
	text-decoration: none;
}
.right{
	text-align: right;
	color: #696b79;
	position: relative;
	right: -50px;
	text-decoration: none;
}
.footer-items .app-store{
    display: flex;
    flex-direction: row;
    
}


.footer-items .app-store img{
    height: 40px;
    margin-right: 10px;
    /* width: 42px; */
}

.last-item{
    display: inline-block;
}

.last-item img{
    height: 50px;
}
 hr {
    border: 1px;
    height: 1px;
    background-color: #eaeaec;
}



/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
