.desktop-footerContainer {
	max-width: 1080px;
	margin: auto;
	min-width: 980px;
}
.index-seoContainer {
	padding: 20px 0 60px;
	color: #535766;
	width: 100%;
	text-align: justify;
}
.index-priceContainer {
	font-size: 12px;
	float: right;
	padding-left: 30px;
	max-width: 380px
}

.index-priceContainer td:last-child {
	white-space: nowrap
}

.index-priceContainer table {
	border-collapse: collapse
}

.index-priceContainer td,
th {
	text-align: left;
	padding: 8px
}
.index-title {
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #696b79;
	font-size: 16px
}
.index-dateTitle {
	font-style: italic;
	padding: 10px 0 0 6px;
	font-weight: 700
}
.index-descContainer {
	font-size: 14px;
	line-height: 1.5;
	margin: 20px 0;
	color: #7e818c;
	width: 61%
}

.index-descContainer p:first-child {
	margin-top: 0
}

.index-descContainer strong {
	color: #696b79;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500
}

.index-descContainer a {
	font-weight: 500;
	color: #7e818c
}
.desktop-genericInfo {
	height: 340px
}
.desktop-shopLinks {
	float: left;
	width: 155px;
	display: inline-block;
	vertical-align: top;
	padding-right: 20px
}

.desktop-shopLinks>p {
	font-weight: 500
}

.desktop-usefulLinks {
	width: 15%;
	float: left
}

.desktop-usefulLinks>p {
	font-weight: 500
}

.desktop-shopLinks>a,
.desktop-usefulLinks>a {
	color: #696b79;
	display: block;
	font-size: 15px;
	text-decoration: none;
	padding-bottom: 5px;
	cursor: pointer;
	line-height: normal
}

.desktop-shopLinks>a:nth-child(2),
.desktop-usefulLinks>a:nth-child(2) {
	padding-top: 14px
}

.desktop-shopLinks>a:hover>.desktop-superscript {
	text-decoration: none
}
.desktop-gInfoTitle,
.desktop-or {
	font-size: 12px
}
.desktop-superscriptTag {
	width: 25px;
	height: 7px;
	padding: 5px 0 0 5px;
	background: #ff3f6c !important;
	border: 1px solid #ff3f6c !important;
	color: #fff;
	font-weight: 900;
	margin: -6px 0 -10px 10px;
	font-size: 10px;
	-webkit-transform: skewX(-10deg);
	transform: skewX(-10deg);
	display: inline-block;
	border-radius: 2px
}
.desktop-superscript {
	padding: 0 5px;
	background: red;
	border-radius: 90px;
	color: #fff;
	font-weight: 900;
	margin: 0 0 0 5px;
	font-size: 12px
}
.desktop-appExperience {
	display: inline-block;
	vertical-align: top;
	padding-right: 20px;
	width: 360px;
	font-size: 15px;
	line-height: 19px;
	float: left;
	padding-top: 13px
}
.desktop-appExperience>p:first-child {
	font-weight: 500;
	color: #282c3f;
	margin: -3px 0 0;
	padding: 0 0 25px
}

.desktop-appExperience>p {
	color: #696b79
}
.desktop-downLinkContainer {
	display: inline-block
}
.desktop-keepInTouch {
	font-size: 12px;
	margin-bottom: 10px;
	font-weight: 500;
	margin-top: 20px
}

.desktop-facebook {
	width: 20px;
	height: 21px
}

.desktop-facebook,
.desktop-instagram,
.desktop-twitter,
.desktop-youtube {
	margin: 0 15px 0 0;
	display: inline-block
}
.desktop-promises {
	width: 250px;
	float: left
}

.desktop-section {
	margin: 15px 0 30px;
	color: #696b79
}

.desktop-delivery,
.desktop-original,
.desktop-return {
	display: inline-block;
	float: left;
	margin-left: -10px;
	margin-right: 10px;
	width: 47.5px;
	height: 40px
}
.desktop-popularSearch hr {
	border: 1px;
	height: 1px;
	background-color: #eaeaec
}

.desktop-pSearchTitle {
	position: absolute;
	margin-top: -15px;
	background: #fafbfc;
	padding-right: 10px;
	color: #282c3f;
	font-size: 12px;
	font-weight: 500
}

.desktop-pSearchlinks {
	margin-top: 30px
}

.desktop-pSearchlinks>a {
	text-decoration: none;
	color: #696b79;
	font-size: 13px;
	line-height: 25px
}

.desktop-pSearchlinks>a:after {
	content: " | ";
	margin-left: 3px
}

.desktop-pSearchlinks>a:last-child:after {
	content: ""
}
.desktop-fInfoSection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 40px
}
.desktop-contact {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #696b79
}

.desktop-contact>a {
	text-decoration: none;
	font-weight: 500;
	color: #526cd0
}


.desktop-copywrite {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #94969f;
	text-align: end
}