.product-sizeNoInventoryPresent {
  color: #a9abb3;
} 
.product-productMetaInfo {
  position: relative;
   background: #fff;
  padding: 0 10px;
  height: 100%;
  margin-top: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.product-brand {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
h3.product-brand {
  margin-top: inherit;
  -webkit-margin-before: initial;
  margin-block-start: 0;
}
.product-base .product-similarItemCta {
  width: 30px;
  height: 30px;
  line-height: 26px;
  font-size: 12px;
  right: 12px;
  top: 207px;
  display: none;
  z-index: 1;
}
.product-base .product-similarItemCta > span:first-child {
  background-size: 6000% 486.36%;
  background-position: 10.4% 71%;
  width: 15px;
  height: 13px;
}
.product-base .product-similarItemCta > span:nth-child(2) {
  font-size: 12px;
  margin-top: 0 !important;
  margin-left: 6px !important;
}
.product-similarItemCta:hover {
  border-radius: 40px;
  width: 132px;
}

.product-base {
  width: 210px;
  text-align: left;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 10px 30px;
}
.product-base .slick-initialized {
  margin-bottom: 0;
}
.product-loyalty {
  font-weight: 300;
  color: #282c3f;
}
.product-loyalty,
.product-PPPromo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
  margin: -12px 0 10px;
  text-align: left;
  font-size: 12px;
}
.product-PPPromo {
  line-height: 1;
  color: #ff5a5a;
}
.product-base.product-isActive,
.product-base:hover {
  -webkit-box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 0.07);
  box-shadow: 0 2px 16px 4px rgba(40, 44, 63, 0.07);
}
.product-base a {
  text-decoration: none;
}
.product-sizes {
  font-size: 14px;
  color: #535665;
  line-height: 1;
  display: none;
  margin-top: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
  margin-bottom: 0;
  font-weight: 400;
}
.product-base.product-isActive .product-sizes,
.product-base:hover .product-imageRotaterContainer,
.product-base:hover .product-similarItemCta,
.product-base:hover .product-sizes {
  display: block;
}

.product-thumbShim {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 210px;
  background-color: #282c3f;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
}
.product-thumbShimActive {
  visibility: visible;
  opacity: 0.5;
  z-index: 1;
}
.product-ratingsContainer {
  z-index: 1;
  position: absolute;
  margin-left: 10px;
  margin-top: 250px;
  font-size: 12px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  padding: 0 0 0 4px;
  background-color: hsla(0, 0%, 100%, 0.8);
}
.product-ratingsContainer .product-starIcon {
  margin-left: -2px;
  -webkit-transform: scale(0.55);
  transform: scale(0.55);
}
.product-ratingsContainer .product-ratingsCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 4px;
}
.product-ratingsContainer .product-ratingsCount .product-separator {
  font-size: 10px;
  margin: -0.5px 6px 0 -2px;
}
.image-grid-similarColorsIcon {
  vertical-align: middle;
}
.image-grid-iconText {
  font-weight: 500;
  color: #ff517b;
  vertical-align: middle;
  visibility: hidden;
  margin-left: 10px;
  font-size: 14px;
}
.image-grid-similarColorsCta:hover {
  border-radius: 42px;
  width: 140px;
  text-align: left;
  padding-left: 13px;
}
.image-grid-similarColorsCta:hover .image-grid-iconText {
  visibility: visible;
  display: inline-block;
  margin-top: 4px;
}
.image-grid-similarColorsCta {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  color: #000;
  right: 20px;
  bottom: 20px;
  border: 1px solid #dadade;
  line-height: 33px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  will-change: contents;
  background: #fff;
}
.product-actions {
  display: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 250px;
  background: #fff;
  width: 100%;
  padding: 16px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product-prelaunchActions {
  padding-bottom: 6px;
}
.product-actionsButton {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-base.product-isActive .product-actions,
.product-base:hover .product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-sliderContainer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.product-imageSliderContainer {
  position: relative;
  width: 210px;
  height: 280px;
}
.product-product {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}
.product-base:hover .product-product {
  display: none;
}
.product-price {
  line-height: 15px;
  margin: 10px 0 6px;
  white-space: nowrap;
}
.product-discountedPrice,
.product-price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}
.product-strike {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.product-discountPercentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
.product-discountPercentage b,
.product-discountPercentage em {
  font-style: normal;
  font-weight: 400;
}
.product-discountPercentage .product-gift,
.product-discountPercentage div,
.product-discountPercentage p {
  display: inline;
}
.product-wishlistFlex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.product-wishlist {
  border-radius: 2px;
  border: 1px solid #d4d5d9;
  color: #282c3f;
  letter-spacing: 0.3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-wishlist:hover {
  border: 1px solid #535766;
}
.product-notWishlistedIcon,
.product-wishlistedIcon {
  margin: -4px 8px;
}
.product-sizeDisplayDiv {
  z-index: 1;
  width: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 110px;
  background: #fff;
  visibility: hidden;
  margin-bottom: -140px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.product-sizeDisplayHeader {
  padding: 8px 8px 8px 10px;
  text-align: left;
  font-size: 14px;
  color: #535766;
}
.product-sizeDisplayRemoveMark {
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.product-sizeButtonsContaier {
  padding: 5px 10px 10px;
  overflow-y: auto;
  max-height: 108px;
}
.product-sizeButton,
.product-sizeButtonsContaier {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.product-sizeButton {
  border-radius: 20px;
  margin: 5px;
  min-width: 34px;
  min-height: 34px;
  background-color: #fff;
  border: 1px solid #bfc0c6;
  outline: none;
  font-size: 12px;
  padding: 5px;
}
.product-sizeButton:hover {
  border-color: #282c3f;
  color: #282c3f;
}
.product-sizeButtonSelected {
  border-color: #14cda8;
  color: #fff;
  background: #14cda8;
}






